<table class="row footer">
    <tr>
        <td height="40"></td>
    </tr>
  <tr>
    <td class="wrapper last" style="background: white;">

      <table class="twelve columns" style="border-top: 1px solid black;">
          <tr>
            <td></td>
            <td class="expander"></td>
          </tr>
          <tr>
            <td style="text-align: center; font: 200 14px serif;"> Sanry - La Maison de Parfum - M&uuml;hlenstr. 12 • 14482 Potsdam • Germany</td>
            <td class="expander"></td>
          </tr>
        <tr>
          <td align="center">
              <div id="global-footer" class="container" style="text-align: center !important; background: white; font: 500 12px sans-serif;">
                  <%= link_to "Imprint", "https://shop.sanry.fr/imprint", style: "color:black;" %> &nbsp; • &nbsp;
                  <%= link_to "Terms", "https://shop.sanry.fr//terms", style: "color:black;" %> &nbsp; • &nbsp;
                  <%= link_to "Delivery", "https://shop.sanry.fr//delivery", style: "color:black;" %>
              </div>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>


