<div id="spree-header">
    <header id="header" data-hook>
        <div class="container" style="border-bottom: 1px solid black;">
            <div class="row">
                <div class="col-md-4">

                </div>
                <figure id="logo" class="col-md-4" data-hook>
                    <%#= logo %>
                    <%#= image_tag "logo/logo_centered_transparent_nl.png", id: 'sanry-logo-164-53' %>

                    <%= image_tag "logo/logo_centered_transparent_nl_328.png", id: 'sanry-logo-164-57' %>
                    
                </figure>
                <%= render :partial => 'spree/shared/nav_bar' %>
            </div>
        </div>
    </header>
    <div class="container">
        <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
    </div>
</div>
