<div id="global-footer" class="container">
    <%= link_to "Imprint", "/imprint" %> &nbsp; • &nbsp;
    <%= link_to "Terms", "/terms" %> &nbsp; • &nbsp;
    <%= link_to "Delivery", "/delivery" %>
</div>